@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');

/* @font-face {
    font-family: "AssistantRegular";
    src: "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap",
      url("./fonts/assistant.montserrat.ttf") format("truetype");
    font-weight: normal;
  } */

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap")
  }

.homeScreenContainer {
    width: 100%;
    height: 100%;
    background-color: #FFEEDD;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cardsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardContentContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFEEDD;
    border-radius: 10px;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.35);
    margin: 30px;
    padding: 10px;
}

.topCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fromContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.avatarCard {
    width: 100%;
    height: auto;
    border: 3px solid #EC9A1F;
    border-radius: 50%;
}

.buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonCard {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: #5571D7;
    border: 0px solid black;
    color: white;
}

.buttonCardModal {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: #5571D7;
    border: 0px solid black;
    color: white;
    margin-top: 20px;
}


.pseudoText {
    font-size: 20;
    color: #5571D7;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.titleCard{
    font-size: 16;
    color:  #EC9A1F;
    font-family: "Montserrat";
    font-weight: bold;
}

.problemContainer {
    width: 100%;    
}

.badgeContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;   
    margin-bottom: 10px;
}

.badgeProblem {
    background-color: #5571D7;
    border-radius: 15px;
    margin: 5px;
}

.textBadgeProblem {
    text-align: center;
    vertical-align: center;
    font-size: 13px;
    color: white;
    font-family: "Montserrat";
    font-weight: bold;
    margin: 5px;
}

.problemDesc{
    font-size: 13px;
    font-family: "Montserrat";
    font-weight: bold;
}

.from {
    margin-bottom: 0px;
}

.modal-backdrop {
    background-color: rgba(0,0,0,1) !important;
}

.modal-content {
 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 200px;
    color: #5571D7;
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messageTextHome {
    width: auto;
    background-color: #BCC8F0;
    border: 0px solid black;
    border-radius: 10px;
    font-size: 15px;
    font-family: "Montserrat";
    color: black;
    padding: 5px;
}

.linkTo {
    height: 75px;
    width: 75px;
}